APP_HOST=0.0.0.0
APP_PORT=8000

DB_HOST=mysql
DB_PORT=3306
DB_NAME=autograder_db
DB_USER=grader_user
DB_PASSWORD=grader_password

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
